* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    background: #000;
    font-family: sans-serif;
}

canvas {
    margin: 0 auto;
    display: block;
}

.fillPage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.portrait-up {
    margin-left: -90px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.landscape-right {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}

#gameArea {
    z-index: 1;
}

#loading {
    background: #DAE0DD;
    z-index: 2;
}

#topHalf {
    height: 70%;
    position: relative;
}

#botHalf {
    height: 30%;
    position: relative;
}

#logo {
    height: auto;
    max-width: 200px;
    max-height: 147px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url(imports/img/logo.png);
}

#title {
    width: 100%;
    position: absolute;
    padding: 10px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.loaderBar {
    height: 5px;
    position: absolute;
    top: 38px;
    background: #00ACED;
}

#loaderLeft {
    left: 0;
}

#loaderRight {
    right: 0;
}

#error {
    background: #DAE0DD;
    z-index: 3;
    font-size: 20px;
    color: #00ACED;
}

#error div {
    padding: 30px;
}

#error img {
    float: right;
    padding: 0 0 30px 30px;
}

#error img + p {
    margin-top: 0;
}

.loadingAnim {
    animation: loading ease-out 0.5s;
    animation-iteration-count: 1;
    -webkit-animation: loading ease-out 0.5s;
    -webkit-animation-iteration-count: 1;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
