body {

    margin: 0px;
    padding: 0px;
    max-width: 100%;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
    -webkit-transform: scale3d(1, 1, 1);
    -o-user-select: none;
    user-select: none;
    transform: translateZ(0)

}

.IWGloader {
    position: absolute;

    top: 0;
    left: 0;
    z-index: 1;

}

.warningMessage {
    background: #2595db;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}

.warningMessageImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.IWGcanvasRotate {
    visibility: visible;
}

.IWGcanvasStraight {
    visibility: visible;
}


