
/*
--------------------------------------------------
	Global
--------------------------------------------------
*/
html, body {
    overflow-x: hidden;
}

body > section {
    min-height: 750px;
    width: 100%;
	padding: 50px 0 20px;
	background: #f5f5f5;
    position: relative;
}
body > div.scrollblock {
    min-height: 600px;
    width: 100%;
}
body > div.details {
    min-height: inherit;
}
body > div#googleMap {
    min-height: 400px;
}

article, footer {
	text-align: center;
}
.container > header {
	text-align: center;
}
.details {
    background: #e5e5e5;
}
.parralax-image img, .parallax-window img {
    width: 100%;
}
section header {
    margin-bottom: 80px;
}
section article header {
    margin-bottom: 0;
}
.parallax-window {
    min-height: 600px;
    background: transparent;
}
/*
--------------------------------------------------
	Front page
--------------------------------------------------
*/
.front-page {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    z-index: 50;
    text-align: center;
}
.front-page .content {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 0;
    width: 80%;
    max-width: 1080px;
    margin-top: 8%;
}
.front-page h1 {
    margin: 120px 0 80px;
}
.front-page h1, .front-page img {
    opacity: 0;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: logo-animation;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease;
    -webkit-font-smoothing: antialiased;
    
    -moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: logo-animation;
    -moz-animation-play-state: running;
    -moz-animation-timing-function: ease;
    -moz-font-smoothing: antialiased;
    
    -ms-animation-direction: normal;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: 1;
    -ms-animation-name: logo-animation;
    -ms-animation-play-state: running;
    -ms-animation-timing-function: ease;
    -ms-font-smoothing: antialiased;
    
    -o-animation-direction: normal;
    -o-animation-duration: 1s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: 1;
    -o-animation-name: logo-animation;
    -o-animation-play-state: running;
    -o-animation-timing-function: ease;
    -o-font-smoothing: antialiased;
    
}
.front-page .first {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}
.front-page .second {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    
    -webkit-animation-name: scale-down;
    -moz-animation-name: scale-down;
    -ms-animation-name: scale-down;
    -o-animation-name: scale-down;
    animation-name: scale-down;
}
.front-page .third {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    
    -webkit-animation-name: animate-up;
    -moz-animation-name: animate-up;
    -ms-animation-name: animate-up;
    -o-animation-name: animate-up;
    animation-name: animate-up;
    
}

@keyframes scale-down {
    from {
        -ms-transform: scale(1.2,1.2); /* IE 9 */
        transform: scale(1.5,1.5);
    }
    to {
        -ms-transform: scale(1, 1); /* IE 9 */
        transform: scale(1, 1);
        opacity: 1;
    }
}
@-webkit-keyframes scale-down {
    from {
        -webkit-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
    }
    to {
        -webkit-transform: scale(1, 1); /* Chrome, Safari, Opera */
        opacity: 1;
    }
}
@keyframes animate-up {
    from {
        -ms-transform: translate(0, 50px); /* IE 9 */
        transform: translate(0, 50px);
    }
    to {
        -ms-transform: translate( 0, 0px); /* IE 9 */
        transform: translate(0, 0px);
        opacity: 1;
    }
}
@-webkit-keyframes animate-up {
    from {
        -webkit-transform: translate(0, 50px); /* Chrome, Safari, Opera */
    }
    to {
        -webkit-transform: translate(0, 0px); /* Chrome, Safari, Opera */
        opacity: 1;
    }
}
@keyframes easeInElasticPop {
    0%   { transform: scale(0,0); animation-timing-function:ease-in;  }
    37%  { transform: scale(1,1); animation-timing-function:ease-out; }
    55%  { transform: scale(0.7,0.7); animation-timing-function:ease-in;  }
    73%  { transform: scale(1,1); animation-timing-function:ease-out; }
    82%  { transform: scale(0.8,0.8); animation-timing-function:ease-in;  }
    91%  { transform: scale(1,1); animation-timing-function:ease-out; }
    96%  { transform: scale(0.9,0.9); animation-timing-function:ease-in;  }
    100% { transform: scale(1,1); }
}
@-webkit-keyframes easeInElasticPop {
    0%   { -webkit-transform: scale(0,0); animation-timing-function:ease-in;  }
    37%  { -webkit-transform: scale(1,1); animation-timing-function:ease-out; }
    55%  { -webkit-transform: scale(0.7,0.7); animation-timing-function:ease-in;  }
    73%  { -webkit-transform: scale(1,1); animation-timing-function:ease-out; }
    82%  { -webkit-transform: scale(0.8,0.8); animation-timing-function:ease-in;  }
    91%  { -webkit-transform: scale(1,1); animation-timing-function:ease-out; }
    96%  { -webkit-transform: scale(0.9,0.9); animation-timing-function:ease-in;  }
    100% { -webkit-transform: scale(1,1); }
}


@keyframes animate-right {
    from {
        -ms-transform: translate(-50px, 0px); /* IE 9 */
        transform: translate(-50px, 0px);
    }
    to {
        -ms-transform: translate( 0px, 0px); /* IE 9 */
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@-webkit-keyframes animate-right {
    from {
        -webkit-transform: translate(-50px, 0px); /* Chrome, Safari, Opera */
    }
    to {
        -webkit-transform: translate(0, 0px); /* Chrome, Safari, Opera */
        opacity: 1;
    }
}

@keyframes captionInLeft {
    from {
        left: -800px;
    }
    to {
        left: 0px;
    }
}
@-webkit-keyframes captionInLeft {
    from {
        left: -800px;
    }
    to {
        left: 0px;
    }
}
@keyframes captionInRight {
    from {
        right: -800px;
    }
    to {
        right: 0px;
    }
}
@-webkit-keyframes captionInRight {
    from {
        right: -800px;
    }
    to {
        right: 0px;
    }
}


/* Chrome, Safari, Opera */
@keyframes logo-animation {
    from {
        -ms-transform: translate(0px,0px); /* IE 9 */
        -webkit-transform: translate(0px,0px); /* Chrome, Safari, Opera */
        transform: translate(0px,0px); /* Standard syntax */
        opacity: 0;
    }
    to {
        -ms-transform: translate(0px,50px); /* IE 9 */
        -webkit-transform: translate(0px,50px); /* Chrome, Safari, Opera */
        transform: translate(0px,50px); /* Standard syntax */
        opacity: 1;
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes logo-animation {
    from {
        -ms-transform: translate(0px,0px); /* IE 9 */
        -webkit-transform: translate(0px,0px); /* Chrome, Safari, Opera */
        transform: translate(0px,0px); /* Standard syntax */
        opacity: 0;
    }
    to {
        -ms-transform: translate(0px,50px); /* IE 9 */
        -webkit-transform: translate(0px,50px); /* Chrome, Safari, Opera */
        transform: translate(0px,50px); /* Standard syntax */
        opacity: 1;
    }
}

.front-page nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.front-page div {
	text-align: center;
}

/*
--------------------------------------------------
    parallax
--------------------------------------------------
*/
.parralax-image {
    overflow: hidden;
    height: 700px;
}
.slide-in {
    position: absolute;   
}
.larry {
    right: 80px;
    bottom: 0;
    width: 300px;
}
.roger {
    right: 0;
    bottom: 0;
    width: 480px;
}

/*
--------------------------------------------------
	About
--------------------------------------------------
*/
.stats article {
	text-align: center;
}
.stats header p {
	font-weight: bold;
	font-size: 26px;
}
.quote p {
    margin-top: 100px;   
}

/*
--------------------------------------------------
	Services
--------------------------------------------------
*/
.services .row {
    margin-bottom: 40px;
}
.services article {
	text-align: center;
}
.services h4 {
	font-size: 24px;
	font-weight: normal;
}
.services article p, #work article p, #about article p {
	font-weight: thin;
	font-size: 20px;
	line-height: 24px;
}
.services img {
    -webkit-transform: scale(0,0)
}
.services img.active {

    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: easeInElasticPop;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease;
    -webkit-font-smoothing: antialiased;
    
    -moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: both;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: easeInElasticPop;
    -moz-animation-play-state: running;
    -moz-animation-timing-function: ease;
    -moz-font-smoothing: antialiased;
    
    -ms-animation-direction: normal;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: both;
    -ms-animation-iteration-count: 1;
    -ms-animation-name: easeInElasticPop;
    -ms-animation-play-state: running;
    -ms-animation-timing-function: ease;
    -ms-font-smoothing: antialiased;
    
    -o-animation-direction: normal;
    -o-animation-duration: 1s;
    -o-animation-fill-mode: both;
    -o-animation-iteration-count: 1;
    -o-animation-name: easeInElasticPop;
    -o-animation-play-state: running;
    -o-animation-timing-function: ease;
    -o-font-smoothing: antialiased;
    
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: easeInElasticPop;
    animation-play-state: running;
    animation-timing-function: ease;
    font-smoothing: antialiased;

}

/*
--------------------------------------------------
	Work
--------------------------------------------------
*/
#work footer, #work footer h4 {
    margin-top: 70px;
}
#work footer {
    margin-bottom: 40px;
}
#work .games header {
    margin-bottom: 0;
}
#work .games img {
    border: 2px solid #454746;
    margin-bottom: 5px;
}
#work button {
    border-radius: 6px;
    margin-top: 10px;
    background-color: #00b0f0;
    margin-bottom: 10px;
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

/*
--------------------------------------------------
	Parallax
--------------------------------------------------
*/
.parallax-window {
    position: relative;
}
.caption.left {
    left: -800px;
}
.caption.right {
    text-align: right;
    right: -800px;
}
.caption {
    position: absolute;
    top: 40%;
    background: rgba( 0, 0, 0, 0.5 );
    padding: 40px;
    color: white !important;
    width: 40%;
}


.parallax-window .left.active {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: captionInLeft;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease;
    -webkit-font-smoothing: antialiased;
    
    -moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: captionInLeft;
    -moz-animation-play-state: running;
    -moz-animation-timing-function: ease;
    -moz-font-smoothing: antialiased;
    
    -ms-animation-direction: normal;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: 1;
    -ms-animation-name: captionInLeft;
    -ms-animation-play-state: running;
    -ms-animation-timing-function: ease;
    -ms-font-smoothing: antialiased;
    
    -o-animation-direction: normal;
    -o-animation-duration: 1s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: 1;
    -o-animation-name: captionInLeft;
    -o-animation-play-state: running;
    -o-animation-timing-function: ease;
    -o-font-smoothing: antialiased;
    
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: captionInLeft;
    animation-play-state: running;
    animation-timing-function: ease;
    font-smoothing: antialiased;
    
}
.parallax-window .right.active {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: captionInRight;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease;
    -webkit-font-smoothing: antialiased;
    
    -moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: captionInRight;
    -moz-animation-play-state: running;
    -moz-animation-timing-function: ease;
    -moz-font-smoothing: antialiased;
    
    -ms-animation-direction: normal;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: 1;
    -ms-animation-name: captionInRight;
    -ms-animation-play-state: running;
    -ms-animation-timing-function: ease;
    -ms-font-smoothing: antialiased;
    
    -o-animation-direction: normal;
    -o-animation-duration: 1s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: 1;
    -o-animation-name: captionInRight;
    -o-animation-play-state: running;
    -o-animation-timing-function: ease;
    -o-font-smoothing: antialiased;
    
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: captionInRight;
    animation-play-state: running;
    animation-timing-function: ease;
    font-smoothing: antialiased;
}
.caption h4, .caption p, .caption a {
    color: white;
}

/*
    Form
*/
#Remember, #ForgotPassword {
    display: none;
}
#MemberLoginForm_LoginForm {
    margin-top: 30px;
    padding: 100px;
    padding-top: 0;
}
#MemberLoginForm_LoginForm label {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

/*
--------------------------------------------------
	Nav
--------------------------------------------------
*/
nav {
	text-align: center;
}
nav ul, #navigationFixed ul {
	padding: 0;
	display: inline-block;
    margin-bottom: 0;
    float: none;
}
nav li, #navigationFixed li {
	list-style: none;
	float: left;
	padding: 10px 35px;
}
nav li a {
    padding: 10px 15px;
}
#navigationFixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    background: white;
    display: none;
}
#navigationFixed .container {
    position: relative;
}
#navigationFixed img {
    position: absolute;
    top: 10px;
    left: 0;
    opacity: 0;
}
#navigationFixed.active img {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: animate-right;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease;
    -webkit-font-smoothing: antialiased;
    
    -moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-name: animate-right;
    -moz-animation-play-state: running;
    -moz-animation-timing-function: ease;
    -moz-font-smoothing: antialiased;
    
    -ms-animation-direction: normal;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: 1;
    -ms-animation-name: animate-right;
    -ms-animation-play-state: running;
    -ms-animation-timing-function: ease;
    -ms-font-smoothing: antialiased;
    
    -o-animation-direction: normal;
    -o-animation-duration: 1s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: 1;
    -o-animation-name: animate-right;
    -o-animation-play-state: running;
    -o-animation-timing-function: ease;
    -o-font-smoothing: antialiased;
    
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: animate-right;
    animation-play-state: running;
    animation-timing-function: ease;
    font-smoothing: antialiased;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
    text-decoration: underline;
}

/*
--------------------------------------------------
	Contact
--------------------------------------------------
*/
fieldset > div {
    margin-bottom: 20px;   
}
form label {
    display: none;
}

input, textarea {
    padding: 7px;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
    border: 1px solid #cfcfcf;
    box-shadow: none;
}

input[type=submit] {
    border-radius: 6px;
    float: right;
    width: 210px;
    background-color: #00b0f0;
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-transform: uppercase;
}

/*
--------------------------------------------------
	Footer
--------------------------------------------------
*/
body > footer {
	background-color: #585858;
    width: 100%;
}
body > footer p {
	padding: 15px 0;
}

body > footer p, body > footer a {
	text-align: right;
	margin: 0;
	font-size: 18px;
	color: white;
}

/*
--------------------------------------------------
	Font
--------------------------------------------------
*/
h1, h2, h3, h4, h5, h6, p, a, li, input, button {
    font-family: proxima-nova;
    color: #454746;

}
p, a { 
	font-weight: 200;
 	font-size: 24px;
 	color: #454746;
}
a {
	color: inherit;
}
p small, small a {
	font-weight: normal;
	font-size: 18px;
}
h1 {
	font-size: 48px;
	line-height: 58px;
	letter-spacing: 6px;
    font-weight: 100;
}
h2 {
	font-size: 48px;
	font-weight: 200;
	letter-spacing: 4px;
	text-align: center;
}
h3 {
	font-size: 75px;
	font-weight: 600;
    margin-bottom: 0;
}
h4 {
	font-weight: 600;
	font-size: 26px;
}
h5 {
	font-weight: 200;
	font-size: 30px;
}
#about h3 {
    font-weight: 800;
    line-height: 60px;
}
#about article header p {
    font-size: 26px;
}
nav li a {
	color: #00b0f0 !important;
	text-decoration: none;
}
nav li a:hover, nav li a:focus {
	color: #00b0f0 !important;
}

footer p {
	line-height: 30px;
	font-size: 24px;
}
.quote p {
	font-size: 39px;
	line-height: 58px;
	letter-spacing: 10;
}
a {
	text-decoration: underline;
}

#googleMap {
    height:400px;
    width:100%;
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
.details h4 {
    font-size: 24px;
}
.details .container {
    padding: 20px 0;
}
.details p, .details a, .details address {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.portfolio h1 {
    margin-top: 50px;
    font-weight: bold !important;
}
.portfolio h2 {
    font-size: 34px;
    font-weight: bold;
}
.portfolio > section {
    position: relative;
    padding-bottom: 100px;
}
.portfolio section > header {
    background: #f5f5f5;
}
.portfolio .logo {
    padding-bottom: 50px;
}
.portfolio .gameEmbed {
    text-align: center;
    margin-bottom: 50px;
}
.portfolio section .content .col-md-12 img {
    width: 100%;
}
.portfolio section .content .col-md-12 h4 a, .portfolio .back {
    text-decoration: none;
}
.portfolio section .content .col-md-12 h4 a:hover, .portfolio .back:hover {
    text-decoration: underline;
}
.portfolio section .content article { 
    margin-bottom: 20px;
}
.portfolio section .content article:nth-child(3n+1){
    clear: left;
}
.portfolio header.container {
    background: #3e3e3e;
    margin-bottom: 0;   
}
.statusBar {
    padding: 10px 0;
}
.logo {
    text-align: center;
    padding: 100px 0;
}
.portfolio #contacts {
    background: #f5f5f5;
}
.portfolio .facts h3, .portfolio .facts p {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 37px;     
}
.portfolio .facts p {
    line-height: 15px;
    font-size: 30px;
}
    



@media screen and (max-width: 900px) {

    .front-page .first {
        width: 150px
    }
    .front-page h1 {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 50px;
    }
    .front-page .third {
        width: 35px;
    }
    .front-page p, .front-page a {
        font-size: 16px;
    }

    .slide-in {
        display: none;
    }

    body > section {
        padding: 20px 0;
    }
    .services .row {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {

    body {
        overflow-x: hidden;
    }
    /* global */
    body > section {
        min-height: initial;
    }
    .parallax-window {
        min-height: 400px;
    }
    .caption {
        top: 15%;
    }
    article {
        margin-bottom: 50px;
    }
    article header {
        margin-bottom: 10px;
    }
    #navigation {
        display: none;
    }
    /* navigation */
    #navigation ul {
        width: auto;
        margin: 0 auto;
    }
    #navigation li {
        padding: 5px 5%;
    }
    #navigationFixed {
        display: block;
    }
    #navigationFixed img {
        top: 0;
    }
    #navigationFixed ul {
        display: block;
        text-align: left;
    }

    #navigationFixed li {
        float: none;
        padding: 0;
    }

    /* contacts */
    #contacts header {
        margin-bottom: 40px;
    }


    /* caption */
    .caption {
        width: auto;
    }
    .quote p {
        margin-top: 30px;
    }

    /* form */
    #Form_Form {
        margin-top: 0;
    }



}

@media screen and (max-width: 360px) {
 
    input[type=submit] {
        padding: 10px 0;
        font-size: 18px;
        width: 100%;
    }
    
    #work .games img {
        width: 100%;
    }
}

@media screen and (max-height: 700px) {

    .front-page .content {
        margin-top: 4%;
    }
    .front-page img.first {
        width: 150px;
    }
    .front-page h1 {
        margin-top: 90px;
        line-height: 40px;
        letter-spacing: 3px;
        font-size: 35px;
    }

}
@media screen and (max-height: 580px) {

    .front-page img.first {
        width: 130px;
    }
    .front-page h1 {
        margin-top: 100px;
        margin-bottom: 30px;
        line-height: 35px;
        letter-spacing: 2px;
        font-size: 35px;
    }
    .front-page .third {
        margin-top: 1%;
    }

}
@media screen and (max-height: 470px) {

    .front-page .content {
        margin-top: 0;
    }
    .front-page img.first {
        width: 100px;
    }
    .front-page h1 {
        margin-top: 80px;
        margin-bottom: 20px;
        line-height: 35px;
        letter-spacing: 2px;
        font-size: 30px;
    }
    .front-page .third {
        margin-top: 1%;
    }

}

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    #navigationFixed img {
        position: absolute;
        top: 10px;
        left: 0;
        opacity: 0;
    }
    
    #navigationFixed {
        padding: 0 0 10px; 
    }
    .navbar-toggle {
        margin-top: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
