article img {max-width:100%;}
html,p,li,td,h1,h2,h3,h4,h5,h6 {font-family: 'gillsans_lightregular', Impact, sans-serif}


section {margin-bottom: 20px}
.row {border-style:solid; border-width:1px; border-color: #a8a8a8; border-radius: 10px;} /*#d3d3d3*/
.row {background-color: #e5e5e5;}
.sideplay {background-color: #A7E3FF;}/*448bd7, bfffff*/
.sideplay a {color:#2980D7;}
.center {text-align: center;}

header {padding-top: 20px; padding-bottom: 20px;}

article{margin-bottom: 10px}

footer.main {height: 60px; background-color: #545454; position: fixed; bottom: 0px; width: 100%; }
footer.index {height: 60px; background-color: #545454;}
footer.back {border-top: 1px #a8a8a8 solid; margin-top: 10px}

h2 {border-bottom-color: #a8a8a8; border-bottom: inherit; text-align: center; padding-bottom: 10px;}
h5{color: #ffffff; text-align: right; font-weight: 400; padding-top: 10px;}

/* Font Face */

@font-face {
    font-family: 'gillsans_lightregular';
    src: url('font/gillsans_light-webfont.eot');
    src: url('font/gillsans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gillsans_light-webfont.woff') format('woff'),
         url('font/gillsans_light-webfont.ttf') format('truetype'),
         url('font/gillsans_light-webfont.svg#gillsans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
